<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>
    <script type="text/javascript">
      $(function () {
        var rootURI = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
        var lock = new Auth0Lock('{{clientId}}', '{{clientDomain}}', {
          auth: {
            params: {
              state: '{{state}}',
              // change scopes to whatever you like, see https:///scopes
              // claims are added to JWT id_token - openid profile gives everything
              scope: 'openid user_id name nickname email picture'
            },
            responseType: 'code',
            redirectUrl: rootURI + '{{authenticationCallbackUrl}}'
          }
        })
        lock.show()
      })
    </script>
</div>
</body>
</html>